@import "./ImageThumbnailView.less";
@import "./ImageDetailedView.less";

#gallery-view{
    flex-grow: 1;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
    padding: 1em;

    .loop(@counter) when (@counter > 0) {
        .loop((@counter - 1));    // next iteration

        @media (min-width: (@counter * 300px)){
            grid-template-columns: repeat((@counter + 1),1fr);
        }
    }
    .loop(20); // launch the loop

}