.image-detailed-view-wrapper{
    position: fixed;
    background-color : rgba(0,0,0,0.0);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    transition: background-color 250ms;

    .image-detailed-view{
        display: flex;
        flex-direction: column;
        overflow: auto;
        opacity: 0;
        transform: scale(0);
        transition: opacity 250ms, transform 500ms;
        height: 100%;

        header{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            min-height: 75px;

            .icon-wrapper{
                font-size: 1.25em;
                margin: 0.5em;
                padding: 0.5em;
                color: #ffffff;
                transform: scale(1);
                background-color: transparent;
                box-shadow : none;
                transition: transform 500ms, background-color 350ms, box-shadow 350ms;
                border-radius: 2px;

                &.action-button:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                    background-color: rgb(169, 169, 169);
                    box-shadow: 0 0 1px 1px rgba(169,169,169,.5);
                }
            }

            .header-center{
                display: flex;
                margin: 0 auto;

            }
        }

        content{
            margin: auto;

            img{
                border-radius: 4px;
                box-shadow: 0 0 10px 2px rgba(0,0,0,.5);
                margin: 0 1em;

            }
        }
    }

    &.show-detailed-view{
        background-color : rgba(0,0,0,0.7);

        .image-detailed-view{
            opacity: 1;
            transform: scale(1);

        }
    }
}